<plugin>
	<nom>cicas : Authentification CAS (SSO)</nom>
	<auteur>&#169; C. Imberti</auteur>
	<icon>pyramides-32.png</icon>
	<licence>[Creative commons by-nc-sa->http://creativecommons.org/licenses/by-nc-sa/2.0/fr/]</licence>
	<lien></lien>
	<version>1.7.5</version>
	<etat>stable</etat>
    <slogan>Auteur : &#169; C. Imberti. Licence : Creative commons by-nc-sa.</slogan>
    <description>
    Auteur : &#169; C. Imberti. Licence : Creative commons by-nc-sa.<br />
    Il convient de configurer le plugin avant utilisation.
    Pour PHP version 5 et plus.
    </description>
	<prefix>cicas</prefix>

	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>cicas_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_edition</nom>
		<inclure>cicas_pipeline.php</inclure>
	</pipeline>
	
    <bouton id='cicas_config' parent='configuration'>
	<icone>cicas.gif</icone>
		<titre>Configurer CAS (SSO)</titre>
		<url>cicas_config</url>
	</bouton>

	<bouton id='cicas_config3' parent='bando_configuration'>
		<titre>cicas:titre</titre>
		<icone>images/cicas.png</icone>
		<url>cicas_config</url>
	</bouton>

	
	<necessite id="SPIP" version='[2.0.9;]' />

</plugin>